

body {
    margin: 0;
  }
  
  html {
    font-family: 'sans serif';
    font-size: 10px;
    background-color:gray;
  }
  
  
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.6em;
  }
  
  .card header {
    background-image: linear-gradient(bottom,rgba(0,0,0,0.0), rgba(2,20,10,50,0.5));
    border-radius: 1.5em;
  }
  
  .card footer {
    background-image: linear-gradient(bottom,rgba(0,0,0,0), rgba(228, 13, 13, 0.5));
    border-radius: 2.5em;
  }
  
  
  
  .card h2, .card p {
    margin: 0;
    padding: 0.2em;
  }
  
  
  
  .card header, .card footer {
    height: 3em;
    padding: 1.2em;
    margin-left: 0.4em;
  }
  
  
  
  .card article img {
    max-height: 100%;
    float: right;
  }
  
  
  
  
  
  .card header h2 {
    font-size: 1.8em;
    line-height: 1.5;
  }
  
  .card footer p {
    font-size: 1.5em;
    line-height: 2em;
  }
  
  /*  the article */
  
  .card article {
    height: 11.5em;
    background-color: rgba(0,0,0,0.35);
  }
  
  
  
  .card article p {
    padding: 1.6em;
    font-size: 1.1em;
    color: rgba(255,255,255,0.8);
  }
  
  